* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: #edeef6;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Header/Navigation */

header {
    padding: 20px;
    background-color: #32343d;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
}

header h1 {
    margin: 0;
    font-size: 40px;
    color: #32343d;
    margin-left: 60px;
}

header div {
    background-color: #92cccd;
    position: relative;
    right: 35px;
    padding: 5px;
    margin: 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px;
    font-weight: lighter;
    font-size: 25px;
    color: #92cccd;
    position: relative;
    top: 20px;
}

header nav ul li a:hover {
    background: #92cccd;
    color: #32343d;
    border-radius: 15px;
    text-shadow: none;
}

/* Header/Navigation ends */

/* Hero Starts */

.hero {
    background-image: url(./pp-hero.jpg);
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.hero .subtitle h2 {
    background-color: #92cccd;
    color: #32343d;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
    margin-right: 50px;
}

.hero .photo img {
    position: relative;
    z-index: 98;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* Hero Ends */

/* Grid */

.container {
    display: grid;
    grid-template-columns: 20% 40% 40%; 
    column-gap: 8px;
    row-gap: 20px;
    grid-template-areas:
    "grid1 grid2 grid2"
    "grid3 grid4 grid4"
    "grid5 grid6 grid6";
    padding: 40px;

}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid1 {    
    display: flex;
    flex-wrap: wrap;
    grid-area: grid1;       
}

.grid2 {
    color: #435877;
    display: flex;
    flex-wrap: wrap;
    grid-area: grid2;    
}

.grid3 {
    grid-area: grid3;
}

.grid4 {
    grid-area: grid4; 
    column-gap: 25px;
    row-gap: 25px;    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 150px 150px;
    grid-template-areas:
    "inner-grid1 inner-grid1"
    "inner-grid2 inner-grid3"
    "inner-grid4 inner-grid5";
    padding: 40px;  
}

.inner-grid1 {
    background: url("surf-report.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: inner-grid1;   
   
}

.inner-grid2 {
    background: url("led-wall.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: inner-grid2;    
}
.inner-grid3 {
    background: url("surf-report.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: inner-grid3;    
}
.inner-grid4 {
    background: url("surf-report.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: inner-grid4;    
}
.inner-grid5 {
    background: url("surf-report.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: inner-grid5;    
}

.inner {
    border: 5px solid #92cccd;
    display: inline-flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-start;
    vertical-align: bottom;
    flex-direction: column;
    flex-basis: auto;
    text-decoration: none;
    color: #32343d;
}

.grid5 {
    grid-area: grid5;
}

.grid6 {
    grid-area: grid6;
    justify-content: space-evenly;
}

.title {
    color: #435877;    
    align-items: right;
    justify-content: right; 
    padding-top: 15px;
    font-size: 20px;
}
.content {
    border-left: 3px solid #435877;  
    margin-bottom: 25px; 
    padding: 25px;
}
p {
    margin-bottom: 25px;
}

.project-info {
    background:  #92cccd;    
    margin-bottom: 25px;    
    display: inline-block;
    flex-basis: auto;
    padding: 10px;
}

.project-info h3 {
    font-size: 10px;
    font-weight: normal
}

.links {
    color: #435877;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.links .contact-info {
    width: 100%;
    margin-bottom: 30px;    
}

.links .contact-info ul {
    display: flex;
    flex-wrap: wrap;    
    align-items: stretch;
    list-style: none;
    justify-content: space-between;
    width: 100%;
}

.links .contact-info ul li a {
    padding: 10px;
    font-weight: lighter;
    font-size: 15px;
    color: #435877;
    position: relative;
    top: 20px;
}

.links .contact-info ul li a:hover {
    background: #32343d;
    color: #92cccd;
    border-radius: 15px;
    text-shadow: none;
}

h1 { 
    text-align: right;
}

/* Grid Ends */