* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: #edeef6;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Header/Navigation */

header {
    padding: 20px;
    background-color: #32343d;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
}

header h1 {
    margin: 0;
    font-size: 40px;
    color: #32343d;
    margin-left: 60px;
}

header div {
    background-color: #92cccd;
    position: relative;
    right: 35px;
    padding: 5px;
    margin: 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px;
    font-weight: lighter;
    font-size: 25px;
    color: #92cccd;
    position: relative;
    top: 20px;
}

header nav ul li a:hover {
    background: #92cccd;
    color: #32343d;
    border-radius: 15px;
    text-shadow: none;
}

/* Hero Starts */

.hero {
    background-image: url(./pp-hero.jpg);
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.hero .subtitle h2 {
    background-color: #92cccd;
    color: #32343d;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
    margin-right: 50px;
}

.hero .photo img {
    position: relative;
    z-index: 98;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* Hero Ends */

/* Grid */


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "grid1 grid2 grid2"
    "grid3 grid4 grid4"
    ". grid4 grid4"
    ". grid5 grid6"
    ". grid7 grid8";
}

/* About Me - INSIDE GRID */
.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid1 {
    color: #435877;
    display: flex;
    flex-wrap: wrap;
    grid-area: grid1;
}

.grid2 {
    color: #435877;
    display: flex;
    flex-wrap: wrap;
    grid-area: grid2;
}
/* About Me Ends - INSIDE GRID*/

.grid3 {
    grid-area: grid3;
}

.grid4 {
    grid-area: grid4;
}

.grid5 {
    grid-area: grid5;
}

.grid6 {
    grid-area: grid6;
}

.grid7 {
    grid-area: grid7;
}

.grid8 {
    grid-area: grid8;
}

/* Grid Ends */

/* Footer */

footer {
    color: #435877;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer .contact-info ul li a {
    padding: 10px;
    font-weight: lighter;
    font-size: 15px;
    color: #435877;
    position: relative;
    top: 20px;
}

footer .contact-info ul li a:hover {
    background: #32343d;
    color: #92cccd;
    border-radius: 15px;
    text-shadow: none;
}

/* Footer Ends */